.navBar{
    z-index: 2;
    position: fixed;
    background: #007BFF;
    background: linear-gradient(94deg,rgba(0, 123, 255, 1) 0%, rgba(43, 79, 207, 1) 100%);   
    display: flex;
    
}
nav {

    display: flex;
    flex-direction: row;
}
.branding{
    margin-right: 40%;
    align-self:center ;
    color: #ffff;
    margin-left: 40px;
}
.navLink{
    display: relative;
    padding: 20px;
    color: #ffff;
    justify-self: center;
    text-align: center;
    transform: scale(1);
    transition: transform .1s ease;
    
}

.navLink:hover{
    transform: scale(1, 1.1);
}
.cartItems{
    z-index: 1;
    position: absolute;
    width: 30px;
    height: 30px;
    justify-self: center;
    top: 5px;
    border-radius: 15px;
    color: #ffffff;
    
    
}
a:hover{
    background: #7BBFFF;
    background: linear-gradient(0deg,rgba(123, 191, 255, 1) 0%, rgba(68, 126, 227, 1) 100%);

    
}
.navIcons{
    height: 30px;
    filter: invert(1);
}
@media (max-width: 610px) {
    .navBar{
        width: 100vw;
    }

    .branding{
        display: none;
    }

}

