
/*Carousel*/

.viewport {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}
.carousel{
    position: relative;
    top: -55px;
    width: 100%;
    height: 100vh;   /* FULL SCREEN */
    overflow: hidden;
    
}
.track {
  display: flex;
  height: 100%;
  transition: transform 1.5s ease-in-out;
}
.carouselSlide {
  min-width: 100%;
  height: 100%;
}
.carouselPhoto{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*arrows*/
.arrowLeft{
    position: relative;
    bottom: 45%;
    right: 45%;
    width: 60px;
    height: 60px;
    background-color: rgba(231, 231, 231, .2);
    border-radius: 40px;
}
.arrowLeft:hover{
    background-color: rgb(255, 255, 255); 
}
.arrowRight{
    position: relative;
    bottom: 45%;
    left: 45%;
    width: 60px;
    height: 60px;
    background-color: rgba(231, 231, 231, .2);
    border-radius: 40px;
}
.arrowRight:hover{
    background-color: rgba(231, 231, 231, 1); 
}
/*dots*/
.dotsContainer{
    
    position: relative;
    display: flex;
    width: max-content;
    justify-self: center;
    bottom: 30px;
    

}
.dot{
    filter: invert(0);
    border-color: 20px;
    width: 50px;
    height: 50px;
    transform: scale(1);
}

.dotActive{
    filter: invert(.8);
    transform: scale(1.3);
    transform: translateY(-5px);
    transition: transform .1s ease;
}
/*call to action*/
.callToAction{
    position: relative;
    background: #FFC107;
    background: linear-gradient(0deg,rgba(255, 193, 7, 1) 0%, rgba(255, 213, 87, 1) 100%);
    border-radius: 20px ;
    width: fit-content;
    padding: 20px;
    color: white;
    font-size: larger;
    bottom: 400px;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 16px 25px -22px rgba(37, 37, 37, 1);
}
@media (max-width: 610px){
    .callToAction{
        bottom: 600px;
    }
    .dotsContainer{
        bottom: 50px;
    }
}