.viewport {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  height: 100%;
  transition: transform 1.5s ease-in-out;
}

.carouselSlide {
  min-width: 100%;
  height: 100%;
}
.carouselPhoto{
    transform: translateY(-140px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.arrowLeft{
    position: absolute;
    top: 400px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: rgba(231, 231, 231, .2);
    border-radius: 40px;
}
.arrowLeft:hover{
    background-color: rgb(255, 255, 255); 
}
.arrowRight{
    position: absolute;
    top: 400px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: rgba(231, 231, 231, .2);
    border-radius: 40px;
}
.arrowRight:hover{
    background-color: rgba(231, 231, 231, 1); 
}
.dotsContainer{
    position: relative;
    display: flex;
    width: max-content;
    justify-self: center;
    top: -200px;
    

}
.dot{
    filter: invert(0);
    border-color: 20px;
    width: 50px;
    height: 50px;
    transform: scale(1);
}

.dotActive{
    filter: invert(.8);
    transform: scale(1.3);
    transform: translateY(-5px);
    transition: transform .1s ease;
}
.callToAction{
    position: relative;
    background: #FFC107;
    background: linear-gradient(0deg,rgba(255, 193, 7, 1) 0%, rgba(255, 213, 87, 1) 100%);
    border-radius: 20px ;
    width: fit-content;
    padding: 20px;
    color: white;
    font-size: larger;
    align-self: center;
    bottom: 350px;
    box-shadow: 0px 16px 25px -22px rgba(37, 37, 37, 1);
}