.selector{
    display:flex;
    flex-direction: row;
    width: max-content;
    transform: scale(1);
    transition: transform .1s ease-in;
    
}
.selector:hover{
    border-radius: 25px;
    transform: scale(1.1);
}

.selectorBtn{
    background-color: rgb(233, 233, 233);
    padding: 5px;
    
}
.selectorBtn:hover{
    background-color: #28A745;
    color: #fff;
    
}

.selectorInput{
    text-align: center;
}
