.cartContainer{
    outline: 1px solid green;
    transform: translateY(65px);
    height: 95vh;
    background-color: #F8F9FA;
    align-content: start;
    gap: 5px;

}
.totalCost{
    padding: 10px;
    border-radius: 25px;
    background-color: #ffff;
    box-shadow: 8px 8px 38px -36px rgba(66, 68, 90, 1);
    transform: translateY(65px);
    text-align: center;
    font-size: larger;
    color: #28A745;
   

}
.listContainer{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 90px;
    width: 800px;
    border-radius: 25px;
    background-color: #ffff;
    box-shadow: 8px 8px 38px -36px rgba(66, 68, 90, 1);
    padding: 10px;

}
.cartItem{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    outline: 4px solid #F8F9FA;
    outline-offset: 4px;
    width: 700px;
    border-radius: 20px;

    
}
.priceTag{
    text-align: center;
    margin-top: 20%;
}