.cartContainer{
    transform: translateY(65px);
    height: 95vh;
    background-color: #F8F9FA;
    align-content: start;
    gap: 5px;
    max-width: 100vw;

}
.totalCost{
    padding: 10px;
    border-radius: 25px;
    background-color: #ffff;
    box-shadow: 8px 8px 38px -36px rgba(66, 68, 90, 1);
    transform: translateY(65px);
    text-align: center;
    font-size: larger;
    color: #28A745;
   

}
.listContainer{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 90px;
    width: min-content;
    border-radius: 25px;
    background-color: #ffff;
    box-shadow: 8px 8px 38px -36px rgba(66, 68, 90, 1);
    padding: 10px;

}
.cartItem{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    
    outline-offset: 4px;
    width: 600px;
    border-radius: 20px;
    transform: scale(1);
    transition: transform .2s ease-out;

    
}
.cartItem:hover{
    transform: scale(1.05);
}
.priceTag{
    text-align: center;
    margin-top: 20%;
    color: #28A745;
}
.deletItem{
    background-color:#F8F9FA ;
    border-radius:  0px 25px 25px 0px;
    transform: scale(1);
    transition: transform .1s ease-in;
}
.deletItem:hover{
    background-color:#ff1707 ;
    color: #ffff;
   
    transform: scale(1.1);
}
@media (max-width: 700px){
    .cartContainer{
        margin-top: 70px;
    }

    .listContainer{
        width: 100%;
        
        display: grid;
        margin: 0px;
    }
    .cartItem{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
        justify-items: center;
        box-shadow: 8px 8px 38px -36px rgb(9, 9, 12);
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    .cartItem:hover{
        transform: scale(none);
    }
    .deletItem{
        border-radius:  0px 0px 25px 25px;
    }
    .deletItem:hover{
    background-color:#ff1707 ;
    color: #ffff;
   
    transform: scale(1,1.1);
    }
    .footerEl{
        position: absolute;
        bottom: 0px;
    }
}