.cartContainer{
    outline: 1px solid green;
    transform: translateY(65px);
    justify-self: center;
    align-self: center;
}
.totalCost{
    outline: 1px solid red;
    transform: translateY(65px);

}