.pageContainer{
    justify-items: center;
    
    
}
.storePage{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F8F9FA;
    padding-top: 70px;
    max-width: 1500px;
    box-shadow: 0px 3px 24px -14px #343A40;
}
.title{
    justify-content:center;
    color: green;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-template-rows: auto ;
    justify-items: center;

    
    
}
.card{
    transform: scale(1);
    transition: transform 1s ease-out 0s;
}

.card:hover{
    transform: scale(1.2);
}