footer{
    display: grid;
    flex-direction: column;
    background: #343A40;
    background: linear-gradient(94deg,rgba(52, 58, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: #F8F9FA;

}
.footerContainer{
    display: grid;
    justify-self: center;
}