.LoadeContainer{
margin-top: 50%;
height: 100%;
align-self: center;
justify-self: center;
}
.loader{

    justify-self: center;
    height: 50px;
    width: 50px;
    filter: invert(.5);
    animation: loading 1s linear  infinite;
}
.loadText{
    color: rgb(88, 87, 87);
    text-align: center;
    padding-top: 10px;
    font-size: larger;
    animation: pulse 1s linear  infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}
@keyframes pulse {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
