/*static*/
.card{
    z-index: 0;
    width: 330px;
    height: 460px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 8px 8px 38px -36px rgba(66, 68, 90, 1);
    
    margin: 10px;
    transform: scale(1);
    transition: transform .2s ease-out;
    position: relative;
    align-content: end;
}
.photo{
    height: 300px;
    width: 300px;
    object-fit: contain;
    margin-bottom:  10px;
}

.name{
    text-align: center;
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
}
.addQuantity{
    justify-items: center;
}
.price{
    text-align: center;
    color: #28A745;
    
    
}
.addToCart{
    margin-top: 10px;
    justify-items: center;
}

.card:hover{
    z-index: 1;
    transform:scale(1.1);
}

.submitBtn{
    background: #FFC107;
    background: linear-gradient(0deg,rgba(255, 193, 7, 1) 0%, rgba(255, 213, 87, 1) 100%);
    padding: 10px;
    color: #F8F9FA;
    border-radius: 0px 0px 20px 20px;
    transform: scale(1);
    transition: transform .1s ease-out;
}
.submitBtn:hover{
    background: #28A745;
    background: linear-gradient(0deg,rgba(40, 167, 69, 1) 0%, rgb(12, 204, 57) 100%);
    color: #FFFFFF;
    transform: scale(1 ,1.1);
}
@media (max-width: 700px){
    .card{
        width: 100%;
        transition: none;
    }
    .card:hover{
        transform: scale(1);
    }
    .photo{
        width: 100%;
    }
    .submitBtn{
        font-size: larger;
        padding: 20px 0px 20px 0px;
    }
}