/*static*/
.card{
    z-index: 0;
    width: 330px;
    height: 460px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 8px 8px 38px -36px rgba(66, 68, 90, 1);
    
    margin: 10px;
    transform: scale(1);
    transition: transform .2s ease-out;
    position: relative;
    align-content: end;
}
.photo{
    height: 300px;
    width: 300px;
    object-fit: contain;
    margin-bottom:  10px;
}

.name{
    text-align: center;
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
}
.price{
    text-align: center;
    color: #28A745;
    
    
}
.addToCart{
    margin-top: 10px;
    justify-items: center;
}

.card:hover{
    z-index: 1;
    transform:scale(1.1);
}

.submitBtn{
    background-color: #FFC107;
    padding: 10px;
    color: #F8F9FA;
    border-radius: 0px 0px 20px 20px;
    transform: scale(1);
    transition: transform .1s ease-out;
}
.submitBtn:hover{
    background-color: #28A745;
    color: #FFFFFF;
    transform: scale(1.08);
}